    <input id='dance_id' type='hidden' value='<%= @dance.id %>' />
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="span2">
          <% if @editable %>
            <ul class="dancers nav nav-tabs nav-stacked">
          <% else %>
            <ul class="dancers nav nav-tabs nav-stacked read_only">
          <% end %>
              <li><a href="#" class="header">Dancers</a></li>
              <ul class="dancer_names nav nav-tabs nav-stacked"></ul>
              <li class="footer_dancers"><a class="add_dancer" href="#"><i class="icon-plus-sign"></i> New Dancer</a></li>
            </ul>

          <% if @editable %>
            <ul class="blocks nav nav-tabs nav-stacked">
          <% else %>
            <ul class="blocks nav nav-tabs nav-stacked read_only">
          <% end %>
              <li><a href="#" class="header">Colors</a></li>
            </ul>
          
          <% if @editable %>
            <!--<a href="#" class="btn btn-primary save">Save</a>-->
            <a class='save_status'></a>
          <% end %>
          <div class="btn-group">
            <button id="comment_toggle" class="btn">Comments</button>
            <button class="btn play_slideshow"><span>Play</span></button>
            <button class="btn stop_slideshow"><span>Stop</span></button>
            <button id="share_button" class="btn">Share</button>
          </div>
          <br/>
          <br/>
          <button id="feedback_button" class="btn">Feedback</button>
        </div>
        <div id="main" class="span9">
          <% if @editable %>
            <svg id="canvas" class="stage"></svg>
          <% else %>
            <svg id="canvas" class="stage read_only"></svg>
          <% end %>
          <div class="timeline">
            <div class="thumbnail_container">
              <div class='selected_thumb thumb'><svg></svg></div>
              <% if @editable %>
                <img id="next" src="/img/add.png" />
              <% else %>
                <img id="next" src="/img/add.png" class="read_only"/>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div><!-- container -->
    <div id="comments" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <h3 id="myModalLabel">Comments</h3>
      </div>
      <div class="modal-body">
        <p> Add comments in the field below. </p>
        <textarea id='comment_field' rows="3"></textarea>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Save Comment</button>
      </div>
    </div>
    <div id="feedback" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <h3 id="myModalLabel">Feedback</h3>
      </div>
      <div class="modal-body">
        <p> We take your feedback very seriously. </p>
        <p> You can email Jay at <b>jayhp9@stanford.edu</b>, or simply use the below form. He'll receive your feedback either way. Thanks! </p>
        <p> Go ahead, tell us whatever you want! We're all ears. :) </p>
        <textarea id='feedback_field' rows="3"></textarea>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Submit</button>
      </div>
    </div>
    <div id="share_url_modal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <h3 id="myModalLabel">Share</h3>
      </div>
      <div class="modal-body">
        <p> Share this dance with your dancers by giving them the URL of this page. </p>
        <p> They will see a <b>read-only</b> version of the dance. </p>
        <b><div id="share_url"></div></b>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">OK</button>
      </div>
    </div>
