    <input id='dance_id' type='hidden' value='<%= @dance.id %>' />
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="span2">
          <ul class="dancers nav nav-tabs nav-stacked">
            <li><a href="#" class="header">Dancers</a></li>
            <ul class="dancer_names nav nav-tabs nav-stacked"></ul>
            <li class="footer_dancers"><a class="add_dancer" href="#"><i class="icon-plus-sign"></i> New Dancer</a></li>
          </ul>
          <ul class="blocks nav nav-tabs nav-stacked">
            <li><a href="#" class="header">Colors</a></li>
          </ul>
          <% if @editable %>
            <!--<a href="#" class="btn btn-primary save">Save</a>-->
            <a class='save_status'></a>
          <% end %>
            </br></br><button id="comment_toggle" class="btn">Comments</button>
            </br></br><button class="btn play_slideshow"><span>Play Slideshow</span></button>
            <button class="btn stop_slideshow"><span>Stop Slideshow</span></button>
            </br></br><button id="share_button" class="btn">Share Dance</button>
        </div>
        <div id="main" class="span9">
          <svg id="canvas"></svg>
          <div class="timeline">
            <div class="thumbnail_container">
              <div class='selected_thumb thumb'><svg></svg></div>
              <img id="next" src="/img/add.png"/>
            </div>
          </div>
        </div>
      </div>
    </div><!-- container -->
    <div id="comments" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <h3 id="myModalLabel">Comments</h3>
      </div>
      <div class="modal-body">
        <p> Add comments in the field below. </p>
        <textarea id='comment_field' rows="3"></textarea>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Save Comment</button>
      </div>
    </div>
    <div id="share_url_modal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <h3 id="myModalLabel">Share</h3>
      </div>
      <div class="modal-body">
        <p> Share this dance with your dancers by giving them the URL of this page: </p>
        <div id="share_url"></div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">OK</button>
      </div>
    </div>