<div id="header">
	FormIt
</div>

<div id="container">
	<div id="about">
		<div id="headline">
			Move on from pen &amp; paper
		</div>
		<p>Use FormIt to quickly visualize and easily create formations for your group performances.</p>
		<a href="/users/sign_in">
			<div id="button">
				TRY IT NOW!
			</div>
		</a>

	</div>
	<div id="video">
		<iframe src="http://player.vimeo.com/video/62124983?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff&amp;autoplay=0" width="500" height="367" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
</div>