<!DOCTYPE html>
<html>
<head>
  <title>FormIt</title>
  <link rel="stylesheet" type="text/css" href="/assets/website.css">
  <link href='http://fonts.googleapis.com/css?family=Exo+2:400,800,900' rel='stylesheet' type='text/css'>
</head>
<body>
	<%= yield %>
</body>
</html>